.cor-de-fundo {
  background-color: #04B4AE;
  -webkit-user-select: none; /* Impede a seleção no Safari */
  -moz-user-select: none; /* Impede a seleção no Firefox */
  -ms-user-select: none; /* Impede a seleção no Internet Explorer/Edge */
  user-select: none; /* Impede a seleção em outros navegadores */
}

img {
  -webkit-user-drag: none; /* Impede o arrastar de imagens no Safari */
  user-drag: none; /* Impede o arrastar de imagens em outros navegadores */
  -moz-user-select: none; /* Impede a seleção em imagens no Firefox */
  
}
.video-gallery {
  display: flex;
  flex-wrap: wrap;
}

.video-item {
  width: 300px;
  margin: 10px;
}

.video-item video {
  width: 100%;
}
